<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8728f/control/0/plot" value="false" />
    <add key="/lpc/it8728f/control/1/plot" value="false" />
    <add key="/lpc/it8728f/control/2/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/fan/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/level/0/plot" value="false" />
    <add key="/hdd/1/data/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="725" />
    <add key="mainForm.Location.Y" value="200" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8728f/voltage/0/plot" value="false" />
    <add key="/lpc/it8728f/voltage/1/plot" value="false" />
    <add key="/lpc/it8728f/voltage/2/plot" value="false" />
    <add key="/lpc/it8728f/voltage/3/plot" value="false" />
    <add key="/lpc/it8728f/voltage/4/plot" value="false" />
    <add key="/lpc/it8728f/voltage/5/plot" value="false" />
    <add key="/lpc/it8728f/voltage/6/plot" value="false" />
    <add key="/lpc/it8728f/voltage/7/plot" value="false" />
    <add key="/lpc/it8728f/voltage/8/plot" value="false" />
    <add key="/lpc/it8728f/temperature/0/plot" value="false" />
    <add key="/lpc/it8728f/temperature/1/plot" value="false" />
    <add key="/lpc/it8728f/temperature/2/plot" value="false" />
    <add key="/lpc/it8728f/fan/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/factor/0/plot" value="false" />
    <add key="startMinMenuItem" value="true" />
    <add key="/hdd/1/factor/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/1/data/0/values" value="" />
    <add key="/hdd/1/level/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/nvidiagpu/0/control/0/values" value="H4sIAAAAAAAEAJsgIsPV9++6BwMQ5MyTOXMYxGA48D9IuJqRAQqSliQowtgACO1+izAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJsgIsPV9++6BwPDAdeceTJnDjOAwIH/QcLVjAwQtmvSkgRFGBsAP8/hjzAAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJsgIsPV9++6R8POx84582TOHGYAgQP/g4SrGUGshu99zp8jk5jAbPV+Z7PqRAg7vN/52+YjLDA2WxRUjfYE561y6RA290RnsRUFELZ8v3P48o0sMPZjmJnW/c7MML32/c5/YWYC2RavoeKWfc4Aap8MPKgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJsgIsPV9++6R8aRja4582TOHGYAgQP/g4SrGUGsDoHtrp8jk5jAbN7trmbViRA213bXb5uPsMDYbFEQNR5/t7lulUuHsN9vcxVbUQBmc/Btdw1fvpEFxn4MNdODZ7srM1QvB5D9F2omiG3xGiKeIbPdFQCrvyEzqAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJsgIsPV9++6xwSztw4582TOHGYAgQP/g4SrGUGs6jdTHD5HJjGB2XJTHcyqEyHsgKkO3zYfYYGx2aIgagJ0pzlslUsHs5eJTXcQW1EAZquKTXUIX76RBcZ+DDUzwHiqAzNUb7X5VIe/MDOBbIvXEPEJalMcAK81sESoAAAA" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJsgIsPV9++6BwMQ5MyTOXMYxGA48D9IuJqRAQq0dv6Vg7EtXicxQVgNdgDIQhNgPAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJsgIsPV9++6BwMQ5MyTOXMYxGA48D9IuJqRAQqSliQowtgACO1+izAAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJsgIsPV9++6BwODg33OPJkzhxlA4MD/IOFqRgYI2+FzZBIThL3Dwaw6kQkm/m3zERYYmy0KpuaEw1a5dCjbwV5sRQGU3WAf4uUPZRc4MMcizHyMZD4z3JwNDr/g4geQxHc4WLxGiAMALEU428AAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJsgIsPV9++6BwNDg13OPJkzhxlA4MD/IOFqRgYo+ByZxARhNdiZVScywcS/bT7CAmOzRcHULLDfKpcOVy+2ogCuPsTLH85mjkWY+RhuPoM9M9wcBoZfCHEGhHiDncVrGDvAAQBF8TGRwAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAJsgIsPV9++6B+MUXteceTJnDjOAwIH/QcLVjGAmQ7ez6uNX3DD2Vrl0JhCLUcbUVWxFAYS94LNLiJc/hJ2xwoU5NgnMZnBY4vw4EsoG6rX42ckJYwMAjNIUYXgAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAJsgIsPV9++6x7mcKteceTJnDjOAwIH/QcLVjCAWY8MpZ9XHr7hh7K1y6UwgNki92IoCMNuXq8Q1xMsfzGY0MHRhjk1igqmXDn4D1wsAw4ZbrmwAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAJsgIsPV9++6B+OUXpeceTJnDjOAwIH/QcLVjGAmA7ez6uNX3DD2Vrl0JhCLUWari9iKAgh7QbFLiJc/hJ2h4cIcmwRmMzioOD+OhLKBei1+dnLC2AACEzoWeAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="H4sIAAAAAAAEAON9J83V9++6BwMQvD8ic+YwiMFw4H+QcDUjAxQkLUlQhLEBZyo6WjAAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAON9J83V9++6BwODmdP7IzJnDjOAwIH/QcLVjGAmg47T58gkJhjbrDoRytZ1ug8X13MSj0KoYUNib5VLh7KNnMRWFMDZIV7+ULaBk9wGPz4YGwCKF2VCkAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEACuz2srV9++6xxxVcQebrvLThxlA4MB/tRnyTCDWKY8eB64LSWD2oeZuB2XWRDB71Y4uB5YoiHgZT5fDh+UFYHaaXafDF+4QMNvNu8OBH6rmn0e7g3YshF1g1u7wNhLCbvrc6vAgBsI2WNPiwAFVP2dyswMjlF1V3eTwBap+3epGB2Go+L3mBod7YVC9nxscAI/ZKt7MAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEACuz2srV9++6B9e1jQ42XeWnDzOAwIH/ajPkmUAsGYckB64LSWC2zqlkB2XWRDA7JiHVgSUKIn5kR5rDh+UFYPaTkAyHL9whYLaKdZYDP1TNFvscB+1YCPtCSo7D20gIe82rPIcHMRB2QGWhAwdUfcWqYgdGKHvPrVKHL1D1IVXlDsJQ8S8nKx3uhUH1vq5wAAA91gXAzAAAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEACuz2srV9++6x9moHiebrvLThxlA4MB/tRnyTCDWsglGTlwXksDsFceNnZRZE8FsGw5TJ5YoiDivhJnTh+UFYHZQrLnTF+4QMFvsroUTP1TN8RIrJ+1YCFtgkpXT20gI+0y/jdODGAi7YoqdEwdUfZS/gxMjlN3B6eT0Baq+I9DZSRgqXq7i6nQvDMI+UOLiBABr8Ov2zAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAON9J83V9++6x9IVLnYrX7GcOcwAAgf+z3g7iRHE0jtpY/c5MokJxGYtcLUzq04Esx2aXe3uQ8W5hV3txKMg7B+b3ezYoGzTKa52W+XSweyLO1zsxFYUgNn9Zq52IV7+YPa1w652zLEQ9Ry1LnaPoWZytbnYMUPN+c/mZvcLKl6b5goXT1N1tbN4DWEbAM0HAEkaNZjMAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAON9J83V9++6h1+6r+PKVyxnDjOAwIH/M95OYgSxdK4vdPwcmcQEYv8NX+ZoVp0IZu8I2OJ4Hyr+7eJuR/EoCJv5zGVHNij7kPYTx61y6WC26P39jmIrCsDsW9oHHUO8/MFs4afLHZljIeq3n5np+BhqZln4LEdmqDnKGw46/oKKf3JfChefdXGlo8VrCPuz3jxHAAfiidTMAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAON9J83V9++6h5d4j+PKVyxnDjOAwIH/M95OYgSxLCSPOX6OTGICsZ//Oe1oVp0IZiea3XK8DxV3WvnQUTwKwn6n+cuRDcp2WcjqtFUuHcw+//2Zo9iKAjDb7uRzxxAvf4h6/XOOzLEQ9bxsBxwfQ81cGHjAkRlqjt/T546/oOKReafh4gzMFxwtXkPYk5qPOAIAzszetMwAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAON9J83V9++6h5+RnevKVyxnDjOAwIH/M95OYgSxolhDXD9HJjGB2KtYQlzNqhPB7EOTQ13vI4mLR0HYt5TCXdmg7JtA9la5dDB7BVCN2IoCuN4QL384mzkWYc5jqJkHQeJRCPYvqPghJPHVQPUWrxF6AYlaCFbMAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAFs9T5qr7991j6S6BFduK9YzhxlA4MB/pe4JjCDWgwvRrhZRSUwg9i2lcFfe6kQwexVLiOufzUdYYGwmqJqbQDVr5NLB7BVAcc0VBWD2ocmhrr5e/nC9z7Yh9HJA9a4Est9FJsHV/4ayP2+McLV9DWEfAIoDALMbdQe0AAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAFtUIM3V9++6R1RdgqtIBuuZwwwgcOD/G40+RhCrYkqo65vIJCYQexVLiKtQdSKczRYFET80OdT1H5Iadqj4QaD4Gbl0MPsAkD0FygapuXo5As5+EYMw5w/UnJtK4XD2SqCav0jm80DNXw1ky79GiAMAjiHt8swAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAJsnK83V9++6B8tkBVeJ3axnDjOAwIH/lce6GUGsRZsiXFmjkphA7FUsIa5K1Ylg9i2lcNevkRDxm0A2M1TNLSQ2SP16uXQwewWQvQPKPjQ51PXi5Qg4+34MQj2y3r9Q8w8C1fxBsosXqmY1UI32a4R6AAD4oP/MAAAA" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAON9J83V9++6x6Ge404rX7GcOcwAAgf+z3g7iRHEmgQU/xyZxARiv+4+7qSjr8YOY7NFQcTfANlb5dLB7FdAttiKArj6EC9/uBrmWIQ5zzYfYYGxf0UizGFGMtPidRLcTABwJgfZqAAAAA==" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEALM9J8XV9++6BwNDmlMlF9uZwwwgcOC/UEonI5jJUOX0MzKJCcIud1KsToSy65x4o2DitU5cMHZDkxMLXLzDKWpPCpTd6fSlIROqptXp+uUIKLvZ6WUMTG+jEytcb4MTI5zd4vQL5gager4oBFv2NUxNoxMAO82k9swAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAHt8Soqr7991DwaGSKfLvGxnDjOAwIH/QimdjGAmQ4bTz8gkJgg7xUmxOhHKznTijYKJpzlxwdk5Tixwdr1T1J4UKLvK6UtDJpRd7nT9cgSUXeT0MgamPs+JFa43y4kRzi53+gV3Q4ETH1w830n2NUI9AFUi6lbMAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAJtwSIqr7991DwaGeCc1MbYzhxlA4MB/oZRORjCTodLpZ2QSE4Rd7qRYnQhl1zrxRiXB2VxwdpMTC5zd4RS1JwXCbuhw+tKQCWW3OF2/HAFlNzu9jIGqb2h0YoXrbXBihLGBan5FIsznQxKXfQ1jNzgBAEfPYH/MAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAJtwSIqr7991DwaGSCc1MbYzhxlA4MB/oZRORjCTIdnpZ2QSE4Sd4KRYnQhlpzrxRsHE85y44OwqJxYYu6HZKWpPClS8welLQyaUXeF0/XIElF3q9DIGpjffiRVuTqYTI5xd4PQL7oZiJz64eKmT7GuEXgALI1i+zAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHsyS4qr7991DwaGWKdLtmxnDjOAwIH/QimdjGAmQ7bTz8gkJgg7zUmxOhHKznHijYKJFztxwdnVTixwdoNT1J4UOPtLQyaUXe90/XIElF3l9DIGpr7UiRWut8CJEc6udPoViTCfLwqhXvY1jF3oBABwByu7zAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAHsyS4qr7991jzK2REedSsYzhxlA4MD/HRp9jCDWKv9rjj8jk5ggwlGOitWJEHbCDkfeKKg4Q6IjF5x9woEFxhZQcYrakwJmlzHNcfzSkAlmc7jddLx+OQLMZmRIc3gZA9O73oEVbs40B0YYW+Gv4y+oG9rm/3Hgg4k3dDrIvoapF3MEAMZ4gHLMAAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAHsyS4qr7991j/vnFBx1KhnPHGYAgQP/d2j0MYJYUQ+WO/2MTGICCz+Y5KRYnQhhf2h34o2Cijs0O3HB2B5dTiwwtsRqp6g9KWB2kvwspy8NmWC2WO1cp+uXIyBqCmqdXsYgzGGNQtjFCGNHzHD6BXVD0NNeJz6Y+IuZTrKvoWyLqU4AwoCf2MwAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAHsyS4qr7991j6R7zx10KhnPHGYAgQP/d2j0MYJY6zrYHH9GJjGBhRsWOShWJ0LYDL/seaNg4p2OXDB2gKATC4x9YIVj1J4UMPsGZ5vjl4ZMMHtGQaXD9csRYHbYVCfHlzFQ9QzTHFijEHYxwtgMVQ6/oG7QDQlz5IOryXWUfQ1jX3EAAE6iO77MAAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAJtWKsXV9++6h9BhPqeqeYxnDjOAwIH/OzT6GEGs7gMLHH9GJjFBhKMcFasTIeyEV468UTDxz45cMHaDkhMLjL1ByilqTwqY7eez2vFLQyaYzZ77wvH65QgwO3Rrp+PLGJg5/I6sML0OzI6MMDbDCcdfUDecNQ9z5IOLT3OUfQ2z19oRABs02nfMAAAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAHsyS4qr7991DympNkedSsYzhxlA4MD/HRp9jCDWPitup5+RSUxg4R2XHRWrEyHsji+OvFFQ8Q3/HLlg7AgJJxYYO8TKKWpPCph9dBeb05eGTDB7/S0up+uXIyBqVhxwfBkDVd+x0pEVpvfCNkdGGHsHh9MvqBtOOlx25IPb+9RR9jWMfcYRAMmfNn3MAAAA" />
    <add key="/lpc/it8728f/control/2/values" value="" />
    <add key="/lpc/it8728f/control/1/values" value="" />
    <add key="/lpc/it8728f/control/0/values" value="" />
    <add key="/lpc/it8728f/fan/4/values" value="" />
    <add key="/lpc/it8728f/fan/3/values" value="" />
    <add key="/lpc/it8728f/fan/2/values" value="" />
    <add key="/lpc/it8728f/fan/1/values" value="H4sIAAAAAAAEAPtzeTNX37/rHgwgEGZ7+jCYceB/8cpAJgYo2MSfoAhjAwDwwazqMAAAAA==" />
    <add key="/lpc/it8728f/fan/0/values" value="H4sIAAAAAAAEAPtzeTNX37/rHsL+Z10YwmxPH2YAgQP/i1cGMoFYHfrnXX6eTwKzzfnOu6iyJkLYQPEfkRDxll8XXP5A2Z3Cl134oyBsoTlXXf5Dxfcsv+6iFQthvwKyv0HFT+Vcc7kVA2FX7r/qIgrV+yj1ist3qJqtzlfgdq01uerCA1XDVnnVpSMMwrbbd9UFAHWn5NjMAAAA" />
    <add key="/lpc/it8728f/temperature/2/values" value="H4sIAAAAAAAEAPtzeTNX37/rHgwM5k4MYbanDzOAwIH/xSsDmcBMhgCnn+eToGx/J1XWRCg72OlHJEw83OkPnB3vxB8FY6c7/YeLJzlpxcLYiU7fkNTfioGxI5xEoxBmfoeriUGyK9aJJwoh3hEGY0c6AQBuLGjHzAAAAA==" />
    <add key="/lpc/it8728f/temperature/1/values" value="H4sIAAAAAAAEAPtzeTNX37/rHgwMIk4MYbanDzOAwIH/xSsDmcBMBh6nTfwJijA2AGFJ/E4wAAAA" />
    <add key="/lpc/it8728f/temperature/0/values" value="H4sIAAAAAAAEAPtzeTNX37/rHgwMOk4MYbanDzOAwIH/xSsDmcBMBgWnTfwJijA2AFoimyIwAAAA" />
    <add key="/lpc/it8728f/voltage/8/values" value="H4sIAAAAAAAEAPtzeTNX37/rHjPyghwYwmxPH2YAgQP/i1cGMoFYIPFN/AmKMDYAaKxlJjAAAAA=" />
    <add key="/lpc/it8728f/voltage/7/values" value="H4sIAAAAAAAEAPtzeTNX37/rHnZc4Q4MYbanDzOAwIH/xSsDmUAskPgm/gRFGBsA6WCeGzAAAAA=" />
    <add key="/lpc/it8728f/voltage/6/values" value="H4sIAAAAAAAEAPtzeTNX37/rHvlCh+0ZwmxPH2YAgQP/i1cGMoFYIPFN/AmKMDYASJ+caTAAAAA=" />
    <add key="/lpc/it8728f/voltage/5/values" value="H4sIAAAAAAAEAPtzeTNX37/rHsq3O+0ZwmxPH2YAgQP/i1cGMoFYzQdm2f88nwRmm8bNsldlTQSzZ82caf8jEiJ+UWm2/R8kNn8UhC3fOtv+P1T835UZ9lqxEPYFoJpvUHEzoJm3YiBsH/OZ9qJQvSDzv0PVtADd8ANJPU8UwpyOMIQ4ANTXasHMAAAA" />
    <add key="/lpc/it8728f/voltage/4/values" value="H4sIAAAAAAAEAPtzeTNX37/rHiuOddsxhNmePswAAgf+F68MZAKxqkTe2f08nwRmP1l6206VNRHM5mF6bfcjEiJ+8BSj/R8o26Wbx54/CsJm0ma3/w8V14w5b6cVC2H/u/LD7huS3lsxEDZb41U7UajehKcX7L5D1Uw49BVuV6fjAzseqBqQGzrCIOzSyTfsADNmR+HMAAAA" />
    <add key="/lpc/it8728f/voltage/3/values" value="H4sIAAAAAAAEAPtzeTNX37/rHifL7BwYwmxPH2YAgQP/i1cGMoFYIPFN/AmKMDYAmkx2NjAAAAA=" />
    <add key="/lpc/it8728f/voltage/2/values" value="H4sIAAAAAAAEAPtzeTNX37/rHiuOWTswhNmePswAAgf+F68MZAKxXLptHH6eTwKzs/bYOKiyJoLZOUD2j8gkuJo/ULZclI0DfxRC/D9UvGmqtYNWLIQNsusbkvpbMRD2pLc2DqJRCPZ3JPNhdoHcwBOFYHeEJcHdAwCR4KV1zAAAAA==" />
    <add key="/lpc/it8728f/voltage/1/values" value="H4sIAAAAAAAEAPtzeTNX37/rHstmu9gwhNmePswAAgf+F68MZAKxQOKb+BMUYWwAE+RVJzAAAAA=" />
    <add key="/lpc/it8728f/voltage/0/values" value="H4sIAAAAAAAEAPtzeTNX37/rHgZ3W+wZwmxPH2YAgQP/i1cGMoFYpxe22m/iT1CEsQHBDadgMAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>